/* TEXAS HOLDEM */

@import (css) "reset.css";
@import (css) "style.css";
@import "colors.less";

body {
    background: url("/images/table_felt.png") repeat;
    overflow:hidden;
}

h3 { color: @label-text; }

#debug {
    text-align:center;
    border:0px solid silver;
    display: table-cell;
    vertical-align:middle;
    color:#000000;
    background-color:#000000;
    font-weight:bold;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
