/* TEXAS HOLDEM */

@import (css) "reset.css";
@import (css) "style.css";
@import "colors.less";

body {
    background: url("/images/table_felt.png") repeat;
    overflow:hidden;
}

h3 { color: @label-text; }

#message {
    position:fixed;
    bottom:0;
    width:100%;
    color:#000000;
    background-color:#ffffff;
    font-weight:bold;
    font-family:Verdana, Geneva, sans-serif;
    font-size:10px;
}
