@import "reset.css";
@import "style.css";
/* TEXAS HOLDEM */
body {
  background: url("/images/table_felt.png") repeat;
  overflow: hidden;
}
h3 {
  color: #ffffff;
}
#debug {
  text-align: center;
  border: 0px solid silver;
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  background-color: #000000;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}
